[mysqld]
# only STRICT_TRANS_TABLES mode is not default in MariaDB 10.1.x
sql_mode="NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES"
transaction-isolation=READ-COMMITTED

max_heap_table_size=2048M
max_allowed_packet=128M
max_connections = 200
connect_timeout = 60

binlog_format=row
tmp_table_size=2048M
long_query_time=5

key_buffer_size=4000M

query_cache_type=1
query_cache_limit=10M
query_cache_size=128M

# threading
thread_cache_size = 64
thread_cache_size = 16
thread_stack = 192K

# innodb
innodb_thread_concurrency=0
innodb_concurrency_tickets=10000
innodb_commit_concurrency=0
innodb_flush_method=O_DIRECT
innodb_file_io_threads = 4
innodb_checksum_algorithm=NONE
innodb_doublewrite=0
innodb_log_file_size=512M
innodb_log_buffer_size=8M
innodb_buffer_pool_size=2G
innodb_sync_spin_loops=60
innodb_force_recovery = 0
innodb_lock_wait_timeout = 100

# Changes to support DYNAMIC / COMPRESSED row format
innodb_file_format=Barracuda
innodb_file_per_table=ON
# supports prefix index larger than 767 bytes (might be already implicit in the DYNAMIC mode?)
innodb_large_prefix=ON
innodb_strict_mode=ON
#innodb_page_size=32k  # default is 16k

# Introduced in MariaDB 10.1.32, COMP is currently using 10.1.21
# If COMPRESSED is used, it cannot be set globally and has to be passed in the CREATE TABLE statement
#innodb_default_row_format=DYNAMIC
