[mysqld]
# this is the default setting in >= 10.2.4
sql_mode="NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES"
# default: REPEATABLE-READ
transaction-isolation=READ-COMMITTED

max_heap_table_size=2048M
max_allowed_packet=128M
max_connections = 200
connect_timeout = 60

# default: MIXED
binlog_format=ROW
# default: 16MB
tmp_table_size=2048M
# default: 10
long_query_time=5

# default: 134217728
key_buffer_size=4000M

# default: 0
# disabling the query cache for now
# unittests do not work with this enabled
#query_cache_type=1
#query_cache_limit=10M
#query_cache_size=128M

# threading
# thread_cache_size defaults to 256, if > than max_connections, it is
# set to max_connections
thread_cache_size = 64
thread_cache_size = 16
thread_stack = 192K

# innodb
# default: O_DIRECT
innodb_flush_method=O_DIRECT
# default: 4
innodb_read_io_threads = 4
# default: 4
innodb_write_io_threads = 4
# default: full_crc23
innodb_checksum_algorithm=full_crc32
# default: 1
innodb_doublewrite=0

innodb_log_file_size=512M
innodb_log_buffer_size=8M
innodb_buffer_pool_size=2G
# default: 30
innodb_sync_spin_loops=60
# default: 0
innodb_force_recovery = 0
# default: 50
innodb_lock_wait_timeout = 100

# Changes to support DYNAMIC / COMPRESSED row format
# default: Barracuda
innodb_file_format=Barracuda
# default: ON
innodb_file_per_table=ON
# supports prefix index larger than 767 bytes (might be already implicit in the DYNAMIC mode?)
# default: ON
innodb_large_prefix=ON
# default: ON
innodb_strict_mode=ON
#innodb_page_size=32k  # default is 16k

# Introduced in MariaDB 10.1.32, COMP is currently using 10.1.21
# If COMPRESSED is used, it cannot be set globally and has to be passed in the CREATE TABLE statement
#innodb_default_row_format=DYNAMIC
