[mysqld]
# only STRICT_TRANS_TABLES mode is not default in MariaDB 10.1.x
sql_mode="NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES"
transaction-isolation=READ-COMMITTED

max_heap_table_size=2048M
max_allowed_packet=128M
max_connections = 200
connect_timeout = 60

binlog_format=row
tmp_table_size=2048M
long_query_time=5

key_buffer_size=4000M

query_cache_type=1
query_cache_limit=10M
query_cache_size=128M

# threading
thread_cache_size = 64
thread_cache_size = 16
thread_stack = 192K

# innodb
innodb_thread_concurrency=0
innodb_concurrency_tickets=10000
innodb_commit_concurrency=0
innodb_flush_method=O_DIRECT
innodb_file_io_threads = 4
innodb_checksum_algorithm=NONE
innodb_doublewrite=0
innodb_log_file_size=512M
innodb_log_buffer_size=8M
innodb_buffer_pool_size=2G
innodb_sync_spin_loops=60
innodb_force_recovery = 0
innodb_lock_wait_timeout = 100