[Unit]
Description=Update CMS map files periodically.

[Timer]
OnBootSec=15min
OnUnitActiveSec=1h
RandomizedDelaySec=15min

[Install]
WantedBy=timers.target
