[web_server]
thread_pool = 150
socket_queue_size = 100
timeout_monitor = False
loglevel = 0
host = 0.0.0.0
log_screen = True
url_base = /das
port = 8211
pid = /data/srv/state/das/das_cli_server.pid
status_update = 2500
web_workers = 50
queue_limit = 1000
qtype = Queue
adjust_input = True
dbs_daemon = False
hot_threshold = 3000
services = dbs_phedex
check_clients = False

[cacherequests]
Admin = 50
Unlimited = 10000
ProductionAccess = 5000

[mongodb]
bulkupdate_size = 5000
dburi = mongodb://localhost:8230
lifetime = 300
dbname = das

[pycurl]
FOLLOWLOCATION=1
CONNECTTIMEOUT=270
MAXREDIRS=5
NOSIGNAL=1
TIMEOUT=270
SSL_VERIFYPEER=False
VERBOSE=0

[dasdb]
dbname = das
cachecollection = cache
mergecollection = merge
mrcollection = mapreduce
logging = False
record_ttl = 86400
delta_ttl = 60
cleanup_worker = True
cleanup_interval = 600
cleanup_delta_ttl = 3600

[mappingdb]
collname = db
dbname = mapping
reload_time = 3600

[parserdb]
dbname = parser
enable = True
collname = db
sizecap = 5242880

[das]
logformat = '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
logfile = ''
verbose = 0
multitask = True
core_workers = 50
api_workers = 2
error_expire = 300
emptyset_expire = 5
collect_wait_time = 120
init_expire = 300
parserdir = /data/srv/state/das
# production services
services = dbs3,phedex,dashboard,runregistry,sitedb2,combined,conddb,reqmgr2,mcm
main_dbs = dbs3

[dbs]
instances=prod/global,prod/phys01,prod/phys02,prod/phys03

[load_balance]
# in dev setup, KWS and DAS run on different ports, thus valid_origin is needed
#kws_host = http://localhost:8214
#valid_origins = http://localhost:8212,
kws_on = False
kws_service_on = False

[query_rewrite]
pk_rewrite_on = False

[SecurityModule]
module = frontend
key_file = /data/srv/current/auth/wmcore-auth/header-auth-key
mount_point = auth
